
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      
      {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
      {% endif %}
      {% if message %}
        <p style="color: green; text-align: center;">{{ message }}</p>
      {% endif %}

      <div>
        <label for="email"><span>@</span></label>
        <input required type="email" id="email" name="email" placeholder="Enter your email" value="{{ email|default:'' }}">
      </div> 

      <div>
        <label for="password"><img src="{% static 'accounts/lock_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg' %}" alt="Lock Icon" style="height: 24px; vertical-align: middle;"></label>
        <input required type="password" id="password" name="password" placeholder="Enter your password">
      </div> 
      
      <div>
        <button type="submit">
          Log In
        </button>
      </div>
      
      <p>Create Account <a href='{% url "signup" %}'> Signup</a></p>
    </form>
  </div>
  </body>
</html>

